/* ==================== F O N T S ==================== */

@font-face {
    font-family: 'Segoe UI Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/segoe_ui/segoe_ui_bold.woff');
}

@font-face {
    font-family: 'Muli Regular';
    font-weight: normal;
    src: url('../fonts/muli/muli_regular.woff');
}

@font-face {
    font-family: 'Muli Black';
    font-weight: normal;
    src: url('../fonts/muli/muli_black.woff');
}

@font-face {
    font-family: 'Muli Bold';
    font-weight: normal;
    src: url('../fonts/muli/muli_bold.woff');
}

@font-face {
    font-family: 'Muli ExtraBold';
    font-weight: normal;
    src: url('../fonts/muli/muli_extrabold.woff');
}

@font-face {
    font-family: 'Montserrat Light';
    font-weight: normal;
    src: url('../fonts/montserrat/montserrat_light.ttf');
}

/* ==================== G E N E R A L ==================== */

html {
    font-size: 16px;
    height: 100%;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Muli Bold', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

h1 {
    font-family: 'Muli Black', sans-serif;
    color: #1E1C24;
    font-size: 4.6875rem;
    letter-spacing: calc(-7em / 1000);
    line-height: 6.0625rem;
    margin: 0;
}

h2 {
    font-size: 3.125rem;
    color: #1E1C24;
    line-height: 3.75rem;
    margin: 0;
}

p {
    color: #B1AAAA;
    margin: 0;
}

.container {
    margin: 0 8.125rem 0 11.125rem;
}

/* ==================== I L L U S T R A T I O N S ==================== */

.illustration {
    position: absolute;
    z-index: -1;
}

.illustration-1 {
    top: 0;
    right: 0;
    width: 53rem;
}

.illustration-2 {
    top: 131.25rem;
    left: 0;
    width: 43rem;
}

.illustration-3 {
    top: 180rem;
    right: 0;
    width: 53rem;
}

.illustration-4 {
    bottom: 22rem;
    right: 0;
    width: 35rem;
    z-index: -2;
}

.illustration-5 {
    bottom: 0;
    left: 0;
    width: 11.125rem;
}

/* ==================== F O R M  S I G N U P ==================== */

.form-signup input, .form-signup button {
    font-family: 'Montserrat Light', sans-serif;
    letter-spacing: calc(40em / 1000);
    border-radius: 100px;
    padding: 1.5625rem 3.125rem;
}

.form-signup input {
    position: relative;
    font-size: 1.25rem;
    color: #1E1C24;
    width: 24.75rem;
    border: 2px solid #EBEBEB;
    margin-right: 2.5rem;
}

.form-signup button {
    font-size: 1.4375rem;
    color: #ffffff;
    cursor: pointer;
    background-color: #FD5353;
    border: none;
    box-shadow: 0px 30px 50px 0px rgba(255,83,83,1);
    transition: all 300ms;
}

.form-signup button:hover {
    transform: scale(1.03);
}

/* ==================== H E A D E R ==================== */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3.5rem;
}

.header .link-dash {
    font-family: 'Segoe UI Regular', sans-serif;
    font-size: 1.875rem;
    color: #1E1C24;
    text-transform: uppercase;
}

.header .link-try {
    color: #ffffff;
    padding: 1rem 2.125rem;
    border: 2px solid #ffffff;
    border-radius: 100px;
    letter-spacing: calc(54em / 1000);
    transition: all 300ms;
}

.header .link-try:hover {
    color: #3a4151;
    background-color: #ffffff;
}

/* ==================== R E S U M E ==================== */

.resume {
    margin-top: 14.8135rem;
}

.resume h1 {
    width: 43.875rem;
}

.resume p {
    font-size: 1.25rem;
    width: 38.5rem;
    margin: 1.25rem 0 4.75rem 0;
    line-height: 2.1875rem;
}

/* ==================== S P O N S O R S ==================== */

.sponsors {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 55rem;
    /* width: 49.4375rem; */
    height: 20.125rem;
    margin-top: 13.125rem;
}

.sponsors > div {
    display: flex;
    justify-content: space-between;
}

.sponsors > div > img {
    height: 2.8125rem;
}

/* ==================== B E N E F I T S ==================== */

.benefits {
    margin-top: 14.9375rem;
}

.benefits > h2 {
    width: 49.1875rem;
    margin: 0 auto;
    text-align: center;
}

.benefits > div {
    display: flex;
    justify-content: space-between;
    width: 68.4375rem;
    margin: 6.4375rem auto 0 auto;
    text-align: center;
}

.benefits > div > div {
    width: 19.375rem;
}

.benefits > div > div > img {
    height: 5.3125rem;
}

.benefits > div > div > h3 {
    font-family: 'Muli ExtraBold', sans-serif;
    font-size: 1.5625rem;
    color: #1E1C24;
}

.benefits > div > div > p {
    line-height: 1.625rem;
}

/* ==================== D E S C R I P T I O N ==================== */

.description {
    width: 34.5rem;
}

.description.desc-1 {
    margin: 20.75rem 16.625rem 0 auto;
}

.description.desc-2 {
    margin: 17rem 0 0 13.25rem;
}

.description > p {
    font-size: 1.125rem;
    line-height: 1.875rem;
    margin: 1rem 0 2.5rem 0;
}

.description > div {
    transition: all 300ms;
    display: inline-block;
}

.description > div:hover {
    transform: scale(1.03);
}

.description > div > a {
    color: #1E1C24;
    text-transform: uppercase;
}

.description > div > a > img {
    margin-left: 1rem;
}

/* ==================== C O M M E N T S ==================== */

.comments {
    width: 70.875rem;
    margin: 20.625rem auto 0 auto;
}

.comments > h2 {
    width: 49.1875rem;
    margin: 0 auto 5rem auto;
    text-align: center;
}

.comments > .comments-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.comment {
    position: relative;
    top: 0rem;
    width: 22.375rem;
    background-color: #ffffff;
    box-shadow: 0px 50px 99px 0px rgba(31,72,93,0.1);
    transition: all 300ms;
    z-index: 0;
}

.comment:hover {
    top: 1.25rem;
    box-shadow: 0px 100px 99px 0px rgba(31,72,93,0.2);
    z-index: 1;
}

.comment > .stars {
    padding: 3rem 2.0625rem 0 2.0625rem;
}

.comment > .stars > img {
    height: 0.9256rem;
    margin-right: 0.4375rem;
}

.comment > p {
    font-family: 'Muli Regular', sans-serif;
    font-size: 1rem;
    line-height: 1.625rem;
    padding: 1.3125rem 2.0625rem 1.375rem 2.0625rem;
}

.comment > .card-person {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 0.625rem 1.25rem;
    padding: 0 2.0625rem 2.75rem 2.0625rem;
}

.comment > .card-person > img {
    grid-row-start: span 2;
    height: 3.3125rem;
}

.comment > .card-person > .name {
    font-size: 1rem;
    color: #1E1C24;
}

.comment > .card-person > .situation {
    font-family: 'Muli Light', sans-serif;
    font-size: 0.875rem;
}

.comment > .card-person > .situation > span {
    color: #1E1C24;
}

.comment > .border {
    width: 50%;
    height: 0.4375rem;
    background-color: #FD5353;
    transition: all 300ms;
}

.comment:hover > .border {
    width: 100%;
}

/* ==================== S I G N U P ==================== */

.signup {
    width: 70.875rem;
    margin: 25rem auto 11.25rem auto;
}

.signup > h2 {
    width: 49.1875rem;
    margin: 0 auto;
    text-align: center;
}

.signup > p {
    font-family: 'Muli Light', sans-serif;
    font-size: 1.6875rem;
    color: #1E1C24;
    line-height: 2.1875rem;
    width: 34.5rem;
    margin: 0.625rem auto 4.375rem auto;
    text-align: center;
}

.signup > .form-signup {
    text-align: center;
}

/* ==================== F O O T E R ==================== */

.footer {
    font-family: 'Muli Light', sans-serif;
    font-size: 1rem;
    padding-bottom: 3.5rem;
    text-align: center;
}

.footer > p:first-child {
    margin-bottom: 1rem;
}

.footer > p > a {
    color: #1E1C24;
    transition: all 300ms;
}

.footer > p > a:hover {
    color: #FD5353;
}

/* ******************** M E D I A  Q U E R I E S ******************** */

/* Screen < 1700px */
@media screen and (max-width: 1699px) {
    html {
        font-size: 14px;
    }
}

/* Screen < 1480px */
@media screen and (max-width: 1479px) {
    html {
        font-size: 12px;
    }
}

/* Screen < 1270px */
@media screen and (max-width: 1269px) {
    /* ========== I L L U S T R A T I O N S ========== */

    .illustration-1 {
        right: -15rem;
    }

    .illustration-2 {
        left: -5rem;
    }

    .illustration-3 {
        right: -10rem;
    }

    .illustration-4 {
        bottom: 15rem;
        right: -5rem;
        width: 30rem;
    }

    .illustration-5 {
        width: 8rem;
    }

    /* ========== H E A D E R ========== */

    .header .link-try {
        color: #1E1C24;
        border: 2px solid #1E1C24;
    }

    .header .link-try:hover {
        color: #ffb750;
        background-color: #1E1C24;
    }

    /* ========== D E S C R I P T I O N ========== */

    .description.desc-1 {
        margin: 20.75rem 0 0 auto;
    }

    .description.desc-2 {
        margin: 17rem auto 0 0;
    }
}

/* Screen < 1100px */
@media screen and (max-width: 1099px) {
    /* ========== G E N E R A L ========== */

    .container {
        margin: 0 calc(8.125rem / 2) 0 calc(11.125rem / 2);
    }

    /* ========== I L L U S T R A T I O N S ========== */

    .illustration-1 {
        right: -20rem;
    }

    .illustration-2 {
        /* left: -5rem; */
        width: 40rem;
    }

    .illustration-3 {
        /* right: -10rem; */
        width: 50rem;
    }

    .illustration-4 {
        bottom: 25rem;
        right: -5rem;
        width: 25rem;
    }

    .illustration-5 {
        width: 8rem;
    }
}

/* Screen < 960px */
@media screen and (max-width: 959px) {
    /* ========== G E N E R A L ========== */
    
    .container {
        margin: 0 3rem;
    }

    h2 {
        font-size: calc(3.125rem / 1.1);
        line-height: calc(3.75rem / 1.1);
    }

    /* ========== I L L U S T R A T I O N S ========== */
    
    .illustration-1, .illustration-2, .illustration-3 {
        display: none;
    }

    .illustration-4 {
        right: -2rem;
        bottom: 50rem;
    }

    .illustration-5 {
        width: 10%;
    }

    /* ========== H E A D E R ========== */

    .header .link-try:hover {
        color: #ffffff;
        background-color: #1E1C24;
    }

    /* ========== R E S U M E ========== */

    .resume {
        margin-top: calc(14.8135rem / 2);
        text-align: center
    }

    .resume h1 {
        width: 100%;
    }

    .resume p {
        width: 80%;
        margin: 1.25rem auto 4.75rem auto;
    }

    /* ========== F O R M  S I G N U P ========== */

    .form-signup input {
        width: calc(70% - (3.125rem * 2) - 4px);
        margin-right: 0;
    }

    .form-signup button {
        width: 70%;
        margin-top: 2.5rem;
    }

    /* ========== S P O N S O R S ========== */

    .sponsors {
        width: 80%;
        height: 15rem;
        margin: 10rem auto 0 auto;
    }

    .sponsors > div > img {
        height: 2rem;
    }

    /* ========== B E N E F I T S ========== */

    .benefits {
        margin-top: 13rem;
    }

    .benefits > h2 {
        width: 100%;
    }

    .benefits > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 4rem auto 0 auto;
    }

    .benefits > div > div {
        width: 80%;
        margin-top: 4rem;
    }

    .benefits > div > div > h3 {
        margin: 1rem 0;
    }

    /* ========== D E S C R I P T I O N ========== */

    .descriptions {
        overflow: auto;
    }
    .description {
        width: 45%;
    }

    .description.desc-1 {
        margin: 13rem 0 0 0;
        float: left;
    }

    .description.desc-2 {
        margin: 13rem 0 0 0;
        float: right;
    }

    /* ========== C O M M E N T S ========== */

    .comments {
        width: 100%;
        margin: 13rem 0 0 0;
    }

    .comments > h2 {
        width: 100%;
        margin: 0;
    }

    .comments > .comments-list {
        align-items: center;
        flex-direction: column;
    }

    .comment {
        margin-top: 4rem;
    }

    /* ========== S I G N U P ========== */

    .signup {
        width: 100%;
        margin: 13rem auto;
    }

    .signup > h2 {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .signup > .form-signup {
        text-align: center;
    }
}

/* Screen < 600px */
@media screen and (max-width: 599px) {
    /* ========== G E N E R A L ========== */
    
    .container {
        margin: 0 1.5rem;
    }

    h1 {
        font-size: calc(4.6875rem / 2);
        line-height: calc(6.0625rem / 2);
        margin: 0;
    }
    
    h2 {
        font-size: calc(3.125rem / 2);
        line-height: calc(3.75rem / 2);
        margin: 0;
    }

    /* ========== I L L U S T R A T I O N S ========== */
    
    .illustration-1, .illustration-2, .illustration-3, .illustration-4 {
        display: none;
    }

    /* ========== H E A D E R ========== */

    .header {
        padding-top: 2rem;
    }
    /* ========== R E S U M E ========== */

    .resume {
        margin-top: 5rem;
    }

    .resume p {
        margin: 1.25rem auto 3rem auto;
    }

    /* ========== F O R M  S I G N U P ========== */

    .form-signup input {
        width: calc(100% - (3.125rem * 2) - 4px);
        margin-right: 0;
    }

    .form-signup button {
        width: 100%;
        margin-top: 2rem;
    }

    /* ========== S P O N S O R S ========== */

    .sponsors {
        height: 8rem;
        margin: 8rem auto 0 auto;
    }

    .sponsors > div > img {
        height: 1.25rem;
    }

    /* ========== B E N E F I T S ========== */

    .benefits {
        margin-top: 8rem;
    }

    .benefits > h2 {
        width: 100%;
    }

    .benefits > div {
        margin: 0;
    }

    .benefits > div > div {
        width: 80%;
        margin-top: 4rem;
    }

    .benefits > div > div > img {
        height: 4rem;
    }

    .benefits > div > div > h3 {
        margin: 1rem 0;
        font-size: 1.25rem;
    }

    /* ========== D E S C R I P T I O N ========== */

    .description {
        width: 100%;
        text-align: center;
    }

    .description.desc-1, .description.desc-2 {
        margin: 8rem 0 0 auto;
        float: none;
    }

    /* ========== C O M M E N T S ========== */

    .comments {
        width: 100%;
        margin: 8rem 0 0 0;
    }

    .comments > h2 {
        width: 100%;
        margin: 0;
    }

    .comments > .comments-list {
        align-items: center;
        flex-direction: column;
    }

    .comment {
        margin-top: 3rem;
    }

    /* ========== S I G N U P ========== */
    .signup {
        margin: 8rem auto;
    }

    .signup > p {
        width: 100%;
        font-size: 1.125rem;
        line-height: 1.9rem;
        margin: 0.625rem auto 3rem auto;
    }

    /* ========== F O O T E R ========== */

    .footer {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 2rem;
    }
}